<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">
    <div class="form-group">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age" class="form-control"/>
        <br/>
        <input type="submit" value="Add" class="btn btn-primary"/>
    </div>
</form>
</body>
</html>